html, body{
	height: 100%;
}

body{
	background: url(../images/bg.jpg) fixed;

	font-family: tahoma,arial,verdana,sans-serif, sans;
}

.btn{
	box-sizing: content-box;
	display: inline-block;
	width: 200px;
	line-height: 40px;
	background-color: #4E7097;
	outline: none;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

.btn:hover{
	background-color: #5E80a7;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.buttons_book{
	margin: 20px;
}


.buttons_book div{
	margin-bottom:10px; 
}

.fixed {
	position: fixed;
}

.wrapper{
	width: 1360px;
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 130px;
	box-sizing: border-box;
}

#header{
	margin: 5px 0;
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
	background-color: #ccc;
	position: relative;
}

#header #logo{
	border-radius: 50px;
	padding: 60px 20px;
	font-family: "Comic Sans MS",cursive;
	font-size: 5em;
	box-shadow: 0px 0px 100px #fff inset, 0px 0px 10px #fff ;
	text-shadow: 0px 0px 10px #4E7097;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	word-spacing: 0.25em;
	text-indent: -0.05em;


	position:absolute;

	top: 50px;
	left: 10px;
}

.nav ul{
	list-style: none;
}
.nav ul li{
	display: inline-block;
	min-width: 100px;
}
.nav ul li a{
	display: block;
	color: #fff;
	text-decoration: none;
	height: 100%;
	/*background-color: #4E7097;*/
	padding: 24px;
	text-align: center;
	font-size: 1.3em;
}

.header{
	color: #4E7097;
	font-size: 2em;
	margin: 20px;
}

.header_small a{
	color: #4E7097;
	text-decoration: none;
}

.header_small a:hover{
	text-decoration: underline;
}

.header_small{
	font-size: 1em;
	color: #4E7097;
}



#top_nav ul li a:hover{
	background-color: #2E5067 !important;
}

#top_nav{
	background-color: #4E7097;
	border-radius: 3px;
	height: 70px;

	position: fixed;
	width: 1360px;

	z-index: 1000;
}
#top_nav:hover{
	opacity: 1 !important;
}

#top_nav ul.right{
	float: right;
}

#top_nav .home_ico{
	padding-left: 55px;
	background: url(../images/home.png) 10px 15px no-repeat;
	-webkit-background-size: 32px;
	background-size: 32px;
}

#top_nav .user_ico{
	padding-left: 55px;
	background: url(../images/user.png) 10px 15px no-repeat;
	-webkit-background-size: 32px;
	background-size: 32px;
}

li.rb{
	border-right: 1px solid #69a;
}
li.lb{
	border-left: 1px solid #2E5067;
}

#content{
	margin-top: 100px;
	border: 1px solid #DEE5EB;
	background: url(../images/inner_bg.jpg);
}

#content.mp{
	padding: 20px;
	margin-right: 0;
}

#status_page{
	background: #DEE5EB;
	width: 100%;
	padding:20px 0px 20px 20px;
	color: #607387;
	font-size: 1.1em;
}

#user_info{
	margin: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #DEE5EB;
}

.profile_info{
	float: left;
	width: 300px;
	padding-left: 20px;
}

.actions_libr{
	padding: 20px;
}

#user_name{
	font-size: 2em;
	margin: 20px 20px 20px 20px;
	border-bottom: 1px solid #DEE5EB;
	color: #4E7097;
}

.book {
	float: left;
	width: 300px;
	height: 420px;
	margin: 20px;
	text-align: center;
	border-radius: 5px;

	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.mp_books .book{
	padding: 20px 5px 10px;
	background: #DEE5EB;
	/* border: 5px solid #6E90B7; */
	box-shadow: 0px 0px 10px 2px #6E90B7;
	word-wrap: break-word;
}

.mp_books.mp_books_big .book  {
	height: 500px !important;
}

.book_title{
	margin-bottom: 10px;
	height: 3em;
}
.link_book{
	text-decoration: none;
	color: #4E7097;
}

.book:hover{
	margin-top: 10px;
	margin-bottom: 30px;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

#user_books .book_title a{
	text-decoration: none;
	color: #fff;
}

.book_info{
	background: #DEE5EB;
	background-image: url(../images/bg.png);
	width: 70%;
	height: 250px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.book_info > div{
	padding-top: 10px;
	color: #2E5067;
}

.limit_date{
	padding: 10px;
	color: #2E5067;
}

.where_book{
	margin-top: 10px;
	color: #2E5067;
}

#footer{
	width: 1366px;
	margin: -115px auto;
	border-top: 1px solid #DEE5EB; 
	border-radius: 0px 0px 10px 10px;
	/*background-color: #4E7097;*/
	overflow: hidden;
	text-align: center;
}

#footer .nav{
	font-size: 0.8em;
	height: 100%;
}
#footer .nav a{
	color: #2E5067;
}

#footer .nav li:hover a{
	text-decoration: underline;
}

#footer .copy {
	padding-bottom: 10px;
	color: #2E5067;
}

#main_block, #right_block{
	float: left;
}

#main_block{
	width: 83%;
	border-right: 1px solid #DEE5EB;
}

#right_block{
	position: relative;
	width: 16%;
	margin-top: 20px;
	box-sizing: border-box;
}
#right_block .fixed{
	position: fixed;
	background: #DEE5EB;
	border: 1px solid #BEC5CB;
	border-radius: 10px;
	height: 300px;
	padding: 20px;
}

#top_scroll{
	display: none;
	position: fixed;
	top: 0;
	width: 130px;
	height: 100%;
	background: url(../images/top.png) no-repeat;
	background-color: rgba(78, 112, 151, 0.2);
	color: #2E5067;
	font-size: 1.5em;
	padding: 100px 10px 10px 10px;
	text-align: center;
	cursor: pointer;
	transition: all 0.1s;
}

#top_scroll:hover{
	transition: all 0.1s;
	background-color: rgba(78, 112, 151, 0.6);
}

#notice{
	display: none;
	width: 400px;
	background-color: rgba(78, 112, 151, 0.8);
	border-radius: 5px;
	position: fixed;
	bottom: 10px;
	left: 10px;

	color: #fff;
	font-size: 1.2em;
	padding: 20px;

	box-sizing: border-box;
	text-align: center;
}

/*книга детально*/

#detail_book{
	margin: 20px;
}

#detail_book .detail_image{
	width: 250px;
	padding: 30px;
	margin-right: 50px;
	background-color: #DEE5EB;
	border-radius: 10px;
	float: left;
	text-align: center;
}

.detail_image img{
	margin-bottom: 20px;
}

#detail_book .detail_info{
	margin-left: 330px;
	margin-bottom: 20px;
	padding: 30px;
	background-color: #DEE5EB;
}

.detail_info p {
	display: inline;
}

.detail_info h3{
	width: 20%;
	float: left;
}


.detail_info .info{
	margin-bottom: 10px;
}


/*действия библиотекаря*/